/* display block */
.box-1 {
    background: red;
    display: block;
}

.box-2 {
    background: blue;
    display: block;
}

.box-3 {
    background: green;
    display: block;
}


/* display inline */
nav ul li {
    font-size: 40px;
    display: inline;
}


/* display inline-block */
.box-4 {
    background: blueviolet;
    display: inline-block;
}

.box-5 {
    background: brown;
    display: inline-block;
}

.box-6 {
    background: teal;
    display: inline-block;
}


/* display flex */
.container {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
}

.flex-item {
    background-color: #4caf50;
    color: white;
    margin: 5px;
    padding: 20px;
    text-align: center;
    flex: 1;
}


/* display grid */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.grid-item {
    background-color: #4caf50;
    padding: 20px;
    text-align: center;
}